@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <title>Card Game</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <div class="App">
    <div id="header">
        <div id="header-left-section">
            <div id="header-title">
                <h1>Card Game</h1>
                </div>
                    
                <div id="header-right-section">
                    <span>Score: 0</span>
                    <span>Best score: 7</span>
                </div></div>
            <div id="card-grid"><div class="card">
            <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGppamRnNm42OWk0OXRybWI0ajV5dnh5ZTZndmZzaXMxa3ptaWNycyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fdHg7T902uzLy/giphy.gif" alt="Card Image">
            <br>
            <span>
                        <strong>Shimpson one</strong>
                    </span>
                </div>
                <div class="card">
                    <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWhqYjA4b2wxbmdxeHhmYTVlb3p2ZWQ1emFheDQ0OXRpdzJxNWZkZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/9sSrddsom3yb6/giphy.gif" alt="Card Image"><br />
            <br>
            <span>
                        <strong>Shimpson two</strong>
                    </span>
                </div>
                <div class="card">
                    <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGYxcjU2Nmx2OTFjNmZ3bGw4enpjYWgxM2JzdThtMzkxZWR4dTA5YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Zk9mW5OmXTz9e/giphy.gif" alt="Sasha">
                    <br>
                    <span>
                        <strong>Shimpson three</strong>
                    </span>
                </div>
                <div class="card">
                    <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeml5MmgzbTM3aGoyNnN2ZnJoeWpndjQ4b284YXNob3Vpc3k2N3E5MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kEKcOWl8RMLde/giphy.gif" alt="Leopold Loggle">
                    <br>
                    <span>
                    <strong>Shimpson four</strong>
            </span>
            </div>
            </div>
            </div>
            </div>
            </body>
            </html>




